@import "themes/catppuccin.cs";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
    padding: 0px;
    margin: -1px;
}

window.eDP-1 * { font-size: 10px; }

window#waybar {
    background-color: #151515;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

tooltip {
    background: #151515;
    border-radius: 5px;
    border-width: 1px;
    border-color: #E1E1E1;
    padding: 10px;
    border-style: solid;
}

tooltip label {
    color: #E1E1E1;
}

#workspaces button {
    padding: 5px;
    color: #6b6a6a;
    margin-right: 5px;
}

#workspaces button.active {
    color: #E1E1E1;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: transparent;
    color: #88AFA2;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 5px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#cpu,
#memory,
#backlight {
    background: #262626;
    opacity: 0.8;
    padding: 0px 5px;
    margin: 5px 5px;
    border: 1px solid #181825;
    border-radius: 5px;
}

/* Modules left */

#clock {
    color: #E1E1E1;
    margin-left: 5px;
    margin-right: 0px;
}

#temperature {
    color: #E1E1E1;
    margin-right: 0px;
}
#temperature.critical {
    color: #eba0ac;
}

#cpu {
    color: #E1E1E1;
    margin-right: 0px;
}

#memory {
    color: #E1E1E1;
    padding-right: 10px;
}

/* Modules right */
#network {
    color: #E1E1E1;
    margin-right: 0px;
}

#battery {
    color: #E1E1E1;
    margin-right: 0px;
}

#bluetooth {
    color: #E1E1E1;
    margin-right: 0px
} 

#pulseaudio {
    color: #E1E1E1;
    margin-right: 0px;
}

#pulseaudio.microphone {
    color: #E1E1E1;
    margin-right: 5px;
}

/* Not always there */
#tray {
    margin-right: 5px;
}
